<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.happykit.happyboot.sys.mapper.SysAttrConfigMapper">
    <resultMap id="BaseResultMap" type="org.happykit.happyboot.sys.model.entity.SysAttrConfigDO">
        <id column="id" property="id"/>
        <result column="key" property="key"/>
        <result column="value" property="value"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="is_deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        key,
        value,
        create_time,
        update_time,
        is_deleted
    </sql>

    <sql id="Common_Column_List">
        a.id,
        a.key,
        a.value,
        a.create_time,
        a.update_time,
        a.is_deleted
    </sql>

    <select id="selectSysAttrConfigsByPage"
            parameterType="org.happykit.happyboot.sys.model.query.SysAttrConfigPageQueryParam" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_attr_config
        where is_deleted = 0
    </select>

</mapper>