<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.happykit.happyboot.sys.mapper.SysDeptObjMapper">
    <resultMap id="BaseResultMap" type="org.happykit.happyboot.sys.model.entity.SysDeptObjDO">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="dept_name" property="deptName"/>
        <result column="dept_code" property="deptCode"/>
        <result column="order_id" property="orderId"/>
        <result column="status" property="status"/>
        <result column="subject_id" property="subjectId"/>
        <result column="is_lead_dept" property="isLeadDept"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="is_deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        parent_id,
        dept_name,
        dept_code,
        order_id,
        status,
        subject_id,
        is_lead_dept,
        create_by,
        create_time,
        update_by,
        update_time,
        version,
        is_deleted
    </sql>

    <sql id="Common_Column_List">
        a.id,
        a.parent_id,
        a.dept_name,
        a.dept_code,
        a.order_id,
        a.status,
        a.subject_id,
        a.is_lead_dept,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.version,
        a.is_deleted
    </sql>

    <select id="selectSysDeptObjs" parameterType="org.happykit.happyboot.sys.model.query.SysDeptObjQueryParam"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dept_obj
        where is_deleted = 0
        <if test="param.parentId != null">
            AND parent_id = #{parentId}
        </if>
        <if test="param.deptName != null and param.deptName != ''">
            AND dept_name like CONCAT('%', #{param.deptName}, '%')
        </if>
        <if test="param.deptCode != null and param.deptCode != ''">
            AND dept_code like CONCAT('%', #{param.deptCode}, '%')
        </if>
        <if test="param.status != null">
            AND status = #{status}
        </if>
        <if test="param.subjectId != null">
            AND subject_id = #{param.subjectId}
        </if>
        order by order_id asc
    </select>

    <select id="selectSysDeptObjsByUserId" resultMap="BaseResultMap">
        select
        <include refid="Common_Column_List"/>
        from sys_dept_obj a
        left join sys_ref_user_dept_obj b on a.id = b.dept_id
        where a.is_deleted = 0 and b.user_id = #{userId}
        order by a.order_id asc
    </select>

    <select id="selectSysDeptObjsByObjIdAndUserId" resultMap="BaseResultMap">
        select
        <include refid="Common_Column_List"/>
        from sys_dept_obj a
        left join sys_ref_user_dept_obj b on a.id = b.dept_id
        where a.is_deleted = 0 and b.user_id = #{userId} and a.subject_id = #{subjectId}
        order by a.order_id asc
    </select>


    <update id="updateDeptCodeNull" parameterType="org.happykit.happyboot.sys.model.entity.SysDeptObjDO">
        update sys_dept_obj set dept_code = null
        where id = #{id}
    </update>

    <select id="getNameById" resultType="string">
        SELECT
            dept_name
        FROM
            sys_dept_obj
        WHERE
            is_deleted = 0
        AND id = #{id}
    </select>

</mapper>