<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.happykit.happyboot.sys.mapper.SysFacilityGroupRelMapper">

    <select id="getFacilityIdsByGroupId" resultType="java.lang.String">
        select distinct facility_id from sys_facility_group_rel where facility_group_id = #{groupId}
    </select>

    <delete id="deleteByFacilityGroupId">
        delete from sys_facility_group_rel where facility_group_id = #{groupId}
    </delete>
</mapper>