<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.happykit.happyboot.sys.mapper.SysTreeDictMapper">
    <resultMap id="BaseResultMap" type="org.happykit.happyboot.sys.model.entity.SysTreeDictDO">
        <id column="id" property="id"/>
        <result column="dict_name" property="dictName"/>
        <result column="dict_code" property="dictCode"/>
        <result column="code" property="code"/>
        <result column="parent_code" property="parentCode"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="is_deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        dict_name,
        dict_code,
        code,
        parent_code,
        create_by,
        create_time,
        update_by,
        update_time,
        version,
        is_deleted
    </sql>

    <sql id="Common_Column_List">
        a.id,
        a.dict_name,
        a.dict_code,
        a.code,
        a.parent_code,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.version,
        a.is_deleted
    </sql>

    <select id="selectSysTreeDictsByDictCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_tree_dict
        where is_deleted = 0 and dict_code = #{dictCode}
        order by code
    </select>

    <select id="selectSysTreeDictsByDictCodeAndParentCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_tree_dict
        where is_deleted = 0 and dict_code = #{dictCode} and parent_code = #{parentCode}
        order by code
    </select>

</mapper>
