<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.happykit.happyboot.demo.mapper.DemoDataMapper">
    <resultMap id="BaseResultMap" type="org.happykit.happyboot.demo.model.entity.DemoDataDO">
        <id column="id" property="id"/>
        <result column="data" property="data"/>
        <result column="date" property="date"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="is_deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        data,
        date,
        create_by,
        create_time,
        update_by,
        update_time,
        version,
        is_deleted
    </sql>

    <sql id="Common_Column_List">
        a.id,
        a.data,
        a.date,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.version,
        a.is_deleted
    </sql>

    <select id="selectDemoDatasByPage" parameterType="org.happykit.happyboot.demo.model.query.DemoDataPageQueryParam"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from demo_data
        where is_deleted = 0
    </select>

</mapper>